<p>
  The Pandanallur style has a reputation for its emphasis on linear geometry in adavu technique and for intensity and understatement in abhinaya.

  The Pandanallur style is renowned for its masterpieces in choreography: some of the main gems in its repertoire are the Nine or Ten Tanjore Quartet pada-varnams (Sakiye, Sami Ninne, Mogamana, Danike, Adimogam, Yemanthayanara, Yemaguva, Sami Nee Ramanave, Sarasijanaba) for which Minakshisundaram Pillai composed the choreography: both dramatic choreography which he called simply "hands" as well as the adavu choreography for the swara passages
</p>
