<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#menu"
            >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="menu">
      <ul class="navbar-nav flex-grow">
        <!--<ul class="navbar-nav bd-navbar-nav flex-row">-->
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/history']">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/parents']">Parents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/students']">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactus']">Contact Us</a>
        </li>
      </ul>
     </div>
  </nav>
</header>
